
VM/CleanShot 2023-09-30 at 23.23.42.png
VM/data_enginering_machine.pem
exam_BIZET/exam_bash/.DS_Store
exam_BIZET/.DS_Store
bash_examem/.DS_Store
bash_examem/exam_BIZET/.DS_Store
bash_examem/exam_BIZET/exam_bash/.DS_Store
